<div class="container">
  <div class="col-md-6">
    <button class="btn btn-default navbar-btn" (click)="add()">add</button>
    <a class="btn btn-default navbar-btn" [href]="exportLink" download="data.json">Export</a>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>user</th>
          <th>date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | async" (click)="select(order)">
          <td>{{order.id}}</td>
          <td>{{order.username}}</td>
          <td>{{order.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6" *ngIf="selectedOrder">
    <app-order-form [order]="selectedOrder"></app-order-form>
  </div>
</div>