<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">ID:
      <input class="form-control" formControlName="id" />
    </label>
    <label class="center-block">User:
      <input class="form-control" formControlName="username" />
    </label>
  </div>
  <div formArrayName="rows" class="well well-lg">
    <button (click)="addRow()" type="button">Add a product</button>
    <div *ngFor="let row of rows.controls; let i=index" [formGroupName]="i" class="form-group">
      <h4>Product {{i+1}}</h4>
      <div class="form-group">
        <label>Product:
          <select formControlName="productId">
            <option disabled value="null">выберите</option>
            <option *ngFor="let productValue of productValues" [value]="productValue.id">{{productValue.name}}({{productValue.price}})</option>
          </select>
        </label>
      </div>
      <label class="center-block">Quantity:
        <input class="form-control" formControlName="quantity" />
      </label>
    </div>
  </div>
  <button type="submit" [disabled]="orderForm.pristine" class="btn btn-success">Save</button>
</form>
<p>Form value: {{ orderForm.value | json }}</p>
<p>Form status: {{ orderForm.status | json }}</p>
<p>Form productValues: {{ productValues | json }}</p>