<div class="container">
  <div class="col-md-6">
    <button class="btn btn-default navbar-btn" (click)="add()">add</button>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async" (click)="select(product)">
          <td>{{product.id}}</td>
          <td>
            <app-editable-cell [cellValue]="product.name" [isEdit]="false" (edited)="setProductName($event, product)"></app-editable-cell>
          </td>
          <td>
            <app-editable-cell [cellValue]="product.price" [isEdit]="false" (edited)="setProductPrice($event, product)"></app-editable-cell>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6" *ngIf="selectedProduct">
    <app-product-form [product]="selectedProduct"></app-product-form>
  </div>
  {{products | json}}
</div>